#topBar {
    -fx-background-color: #705e46;
}

#topBar .label {
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.sectionHeading {
    -fx-font-family: "Gill Sans", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.formLabel {
    -fx-font-family: "Gill Sans", sans-serif;
    -fx-font-size: 16;
}

.noAccountLabel {
    -fx-font-family: "Gill Sans", sans-serif;
    -fx-font-size: 14;
}