@font-face {
    font-family: 'Lilita One';
    src: url('../fonts/LilitaOne-Regular.ttf');
}

#topBar .label {
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.sectionHeading {
    -fx-font-family: "Lilita One";
    -fx-font-size: 36;
}

.formLabel {
    -fx-font-family: "Gill Sans", sans-serif;
    -fx-font-size: 16;
}

.noAccountLabel {
    -fx-font-family: "Gill Sans", sans-serif;
    -fx-font-size: 14;
}

.authForm {
    -fx-border-color: #526997;
    -fx-border-width: 2px 0 0 0;
    -fx-border-style: solid;
}