* {
    --primary-color: #0d2149;
    --secondary-color: #208aae;
    --tertiary-color: #f9ebe0;
    --quaternary-color: #60492c;

    --primary-color-hover: #091836;
}

.button {
    -fx-font-family: "Gill Sans", sans-serif;
    -fx-font-size: 16;
    -fx-background-color: #2d5b67;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #2d5b67;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.button:selected, .button:pressed, .button:focused {
    -fx-background-color: #2d5b67;
    -fx-text-fill: white;
}