.button {
    -fx-font-family: "Gill Sans", sans-serif;
    -fx-font-size: 16;
    -fx-background-color: #d6b588;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #705e46;
    -fx-cursor: hand;
}

.button:selected, .button:pressed, .button:focused {
    -fx-background-color: #705e46;
}