#borderPane {
    -fx-background-color: #0275d8;
}

.menu-bar {
    -fx-background-color: #0275d8;
}

.menu-bar {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.menu-bar .menu {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-alignment: CENTER;
    -fx-min-height: 75px;
    -fx-pref-height: 75px;
    -fx-max-height: 75px;
    -fx-min-width: 100px;
    -fx-pref-width: 100px;
    -fx-max-width: 100px;
}

.menu-bar .menu .label {
    -fx-alignment: CENTER;
    -fx-padding: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.menu-item {
    -fx-padding: 0;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-background-insets: 0;
    -fx-alignment: CENTER;
    -fx-min-height: 50px;
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 100px;
    -fx-pref-width: 100px;
    -fx-max-width: 100px;
}

.menu-item .label {
    -fx-alignment: CENTER;
    -fx-padding: 0;
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
    -fx-min-width: 100px;
    -fx-pref-width: 100px;
    -fx-max-width: 100px;
}

.context-menu {
    -fx-padding: 0;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-background-color: #0275d8;
}

.menu-item:focused {
    -fx-background-color: #044e8e;
}

.menu:hover, .menu:showing {
    -fx-background-color: #044e8e;
}