.menu-bar {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.menu-bar .menu {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-alignment: CENTER;
    -fx-min-height: 50px;
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 75px;
    -fx-pref-width: 75px;
    -fx-max-width: 75px;
}

.menu-bar .menu .label {
    -fx-alignment: CENTER;
    -fx-padding: 0;
    -fx-text-fill: black;
}

.menu-item {
    -fx-padding: 0;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-background-insets: 0;
    -fx-alignment: CENTER;
    -fx-min-height: 50px;
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 75px;
    -fx-pref-width: 75px;
    -fx-max-width: 75px;
}

.menu-item .label {
    -fx-alignment: CENTER;
    -fx-padding: 0;
    -fx-text-fill: black;
    -fx-text-alignment: CENTER;
}

.context-menu {
    -fx-padding: 0;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}

.context-menu:hover .menu-item {
    -fx-background-color: darkgray;
}

.menu-item:focused {
    -fx-background-color: darkgray;
}

.menu:hover, .menu:showing {
    -fx-background-color: darkgray;
}

#userProfilePictureImageView {
    -fx-border-radius: 50%; /* Applies a round border */
    -fx-background-radius: 50%; /* Ensures the background matches the round shape */
    -fx-clip-shape: "circle"; /* Clip the content to make it round */
    -fx-effect: null; /* Ensures no shadow affects the circle shape */
    -fx-background-color: transparent; /* Background stays transparent */
}
