.product-pane {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #d9d9d9;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 10;
}

.product-pane .label {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.product-box-container {
    -fx-background-color: white;
    -fx-border-color: #d9d9d9;
    -fx-border-width: 0 0 1 0;
    -fx-min-height: 100;
    -fx-pref-height: 100;
    -fx-max-height: 100;
    -fx-padding: 0 15;
}

.product-box-container:hover {
    -fx-background-color: #f4f4f4;
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: white;
}

.product-company-box-container {
    -fx-background-color: white;
    -fx-border-color: #d9d9d9;
    -fx-border-width: 0 0 1 0;
    -fx-min-height: 50;
    -fx-pref-height: 50;
    -fx-max-height: 50;
    -fx-padding: 0 15;
    -fx-alignment: center-left;
}

.product-company-box-container:hover {
    -fx-background-color: #f4f4f4;
    -fx-cursor: hand;
}

.default-color0.chart-series-line {
    -fx-stroke: rgba(149, 14, 14, 0.86);
}

.default-color1.chart-series-line {
    -fx-stroke: #1a751c;
}

.default-color0.chart-line-symbol {
    -fx-background-color: rgba(149, 14, 14, 0.86), rgba(149, 14, 14, 0.86);
}

.default-color1.chart-line-symbol {
    -fx-background-color: #1a751c, #1a751c;
}