.table-view .column-header-background {
    -fx-background-color: #7284b3;
    -fx-padding: 5px 10px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-padding: 5px;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-row-cell .label {
    -fx-min-height: 50px;
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
}

.table-view .table-row-cell {
    -fx-background-color: white;
    -fx-min-height: 50px;
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
}

.table-view .table-cell {
    -fx-alignment: center-left;
    -fx-padding: 5px;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-view .table-row-cell:selected, table-view .table-row-cell:focused {
    -fx-border-width: 0;
    -fx-text-fill: black;
    -fx-background-color: -fx-box-border, #d4e5ff;
    -fx-background-insets: 0, 1;
    outline: none;
}

.table-view:focused, .table-view:selected {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-text-fill: black;
    -fx-background-insets: 0, 1;
    outline: none;
}

.table-row-cell:selected {
    -fx-background-color: -fx-box-border, #d4e5ff;
    -fx-border-width: 0;
    -fx-background-insets: 0, 1;
    outline: none;
}

.table-row-cell:selected .text {
    -fx-fill: black;
}

.table-view:focused, .table-view:selected {
    outline: none;
    -fx-background-color: -fx-box-border, #b7c6dc;
    -fx-background-insets: 0, 1;
}

.table-view, .table-row-cell {
    -fx-table-cell-border-color:lightgray;
}