.search-text-field {
    -fx-padding: 5 20 5 50;
    -fx-background-image: url("../images/icons/search.png");
    -fx-background-position: left 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24px;
    -fx-border-color: #C7C7C7;
    -fx-border-width: 1 0 1 1;
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}

